
body {
  background-color: #E8ECEF;
}

footer{

  padding-top: 100px;

}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
